.container {
  max-height: 15em;
  display: flex;
  flex-direction: column;
  margin-inline-end: 2em;
}

.bar {
  height: 0.25em;
  background-color: white;
  border-radius: 20px;
  margin-block: 1em;
}

.links {
  display: flex;
}

.links > *:not(:last-child) {
  margin-inline-end: 1em;
}
